<ab-header></ab-header>
<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron bd-placeholder-img">
    <div class="container">
      <h1 class="">AUPA 5</h1>
      <p class="font-weight-bold">Módulo de riego No.5</p>
      <p><a class="btn btn-primary btn-lg" routerLink="/login" role="button">Iniciar sesión &raquo;</a></p>
    </div>
  </div>
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-6">
        <h2>Mapa</h2>
        <p>En este apartado puedes visualizar las porciones de tierras con las que cuenta nuestra sección de riego así como diversa información de cada parcela.</p>
        <p><a class="btn btn-secondary" routerLink="/mapa" role="button">Ver Mapa &raquo;</a></p>
      </div>
      <div class="col-md-6">
        <h2>Riegos</h2>
        <p>Para los empleados tenemos una función con la que llevamos el control de la cantidad disponible y usada de agua para poder distribuirla adecuadamente. ¿Eres empleado?</p>
        <p><a class="btn btn-secondary" routerLink="#" role="button">Ver Riegos &raquo;</a></p>
      </div>
    </div>
    <hr>
  </div> 
</main>

<footer class="col-md-12 mt-5 text-white">
  <div class="container p-2">
    <h5>Contácta con nostros</h5>
    <div class="row">
      <div class="pr-5">
        Dirección: Gustavo Díaz Ordaz (El Carrizo), Calle Presa Huites
      </div>
      <div class="pr-5">
        Número de teléfono: 509-172-1278
      </div>
      <div>
        Horarios: Lunes-Viernes 8:00 a.m. - 3:00 p.m.
      </div>
    </div>
  </div>
</footer>